<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website 🧡</title>
  </head>

  <body>
    <div class="home-bg">
      <header>+91 1234567890</header>
      <div class="header">
        
        <div class="navbar">
          <div class="logo"><a href="#">Logo Here</a></div>
          <div class="links">
            <li><a href="/courses" class="courses">Courses</a></li>
            <li><a href="/blog" class="blog">Blog</a></li>
            <li><a href="/careers" class="careers">Careers</a></li>
            <li><a href="/about" class="about">About</a></li>
            <li><a href="/contact" class="contact">Contact</a></li>
          </div>
          <a href="/login" class="action-btn">LOGIN</a>
          <div class="toggle-btn">
            <i class="fa-sharp fa-solid fa-bars"></i>
          </div>
        </div>

        <div class="dropdown-menu">
          <li><a href="/courses" class="courses">Courses</a></li>
          <li><a href="/blog" class="blog">Blog</a></li>
          <li><a href="/careers" class="careers">Careers</a></li>
          <li><a href="/about" class="about">About</a></li>
          <li><a href="/contact" class="contact">Contact</a></li>
          <li><a href="/login" class="action-btn-2">LOGIN</a></li>
        </div>

        <!-- Search Bar -->

        <div class="input-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Start Exploring..." />
          <button class="button">Go</button>
        </div>

      
      </div>
    </div>

      <!-- Specialization -->
      <div class="container">
        <div class="tab">
          <input id="tab1" type="radio" name="tabs" checked>
          <label for="tab1">Engineering</label>
          <input id="tab2" type="radio" name="tabs">
          <label for="tab2">Management</label>
          <input id="tab3" type="radio" name="tabs">
          <label for="tab3">Medical</label>
          <input id="tab4" type="radio" name="tabs">
          <label for="tab4">Law</label>
          <input id="tab5" type="radio" name="tabs">
          <label for="tab5">Design</label>
          <input id="tab6" type="radio" name="tabs">
          <label for="tab6">Arts</label>
          <input id="tab7" type="radio" name="tabs">
          <label for="tab7">Economics</label>
          <input id="tab8" type="radio" name="tabs">
          <label for="tab8">More</label>
          
        <section id="content1">
          <h2> Engineering</h2>
          <ul>
            <li>Tabbed navigation</li>
            <li>HTML tabs with just CSS </li>
            <li>Clickable buttons</li>
            <li>Very simple</li>
            <li>No JavaScript</li>
          </ul>
    
        </section>
        <!-- end of section 1 -->

        <section id="content2">
          <h2>Specifications</h2>
          <h4>Standard Specifications</h4>
    
          <h4>General Specifications</h4>
    
        </section>
    
        <!-- end of section 2 -->
        <section id="content3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut deserunt doloribus est. Perferendis porro esse autem nulla accusamus totam. Magnam?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, tempore, itaque! Facere neque aut placeat quia quasi blanditiis ipsa mollitia magnam nobis facilis, dolore debitis architecto tempora dignissimos, qui consequatur, sapiente, iste in error tenetur aliquid quae eveniet. Ipsa pariatur, tenetur consequatur. Optio libero repellendus fuga dignissimos, error, quidem vitae! </p>
        </section>
        <!-- end of section 3 -->
        <section id="content4">
          <h2>Downloads</h2>
    
        </section>
        <!-- end of section 4 -->
        <section id="content5">
          <h3>Product Model</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit natus cum veniam autem, ducimus porro, aspernatur repudiandae dignissimos expedita ipsam nostrum quia dolor sint voluptas obcaecati eum, modi quibusdam voluptatem.</p>
        </section>
        <!-- end of section 5 -->
        <section id="content6">
          <h2>Installation Instruction</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit natus cum veniam autem, ducimus porro, aspernatur repudiandae dignissimos expedita ipsam nostrum quia dolor sint voluptas obcaecati eum, modi quibusdam voluptatem.</p>
    
        </section>
          <!-- end of section 6 -->

        <section id="content7">
            <h2>red</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit natus cum veniam autem, ducimus porro, aspernatur repudiandae dignissimos expedita ipsam nostrum quia dolor sint voluptas obcaecati eum, modi quibusdam voluptatem.</p>
      
        </section>
            <!-- end of section 7 -->  

            <section id="content8">
              <h2>red</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit natus cum veniam autem, ducimus porro, aspernatur repudiandae dignissimos expedita ipsam nostrum quia dolor sint voluptas obcaecati eum, modi quibusdam voluptatem.</p>
        
          </section>
              <!-- end of section 8 -->    
      </div>
          
    
          
    </div>



      <!-- Review -->
      <div class="wrapper">
        <div class="box">
          <i class="fas fa-quote-left quote"></i>
          <p>
            Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing
            elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos
            repellendus repudiandae deleniti ideas fuga molestiae, alias.
          </p>
          <div class="content">
            <div class="info">
              <div class="name">👨‍🦳</div>
              <div class="job">Designer | Developer</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img
                src="https://img-getpocket.cdn.mozilla.net/592x296/filters:format(jpeg):quality(60):no_upscale():strip_exif()/https%3A%2F%2Fs3.us-east-1.amazonaws.com%2Fpocket-curatedcorpusapi-prod-images%2Fcfabf0a1-9738-4b3e-a494-6eb72d2190e2.jpeg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-quote-left quote"></i>
          <p>
            Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing
            elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos
            repellendus repudiandae deleniti ideas fuga molestiae, alias.
          </p>
          <div class="content">
            <div class="info">
              <div class="name">🧓</div>
              <div class="job">YouTuber | Blogger</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img
                src="https://img-getpocket.cdn.mozilla.net/592x296/filters:format(jpeg):quality(60):no_upscale():strip_exif()/https%3A%2F%2Fs3.us-east-1.amazonaws.com%2Fpocket-curatedcorpusapi-prod-images%2Fcfabf0a1-9738-4b3e-a494-6eb72d2190e2.jpeg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-quote-left quote"></i>
          <p>
            Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing
            elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos
            repellendus repudiandae deleniti ideas fuga molestiae, alias.
          </p>
          <div class="content">
            <div class="info">
              <div class="name">👴</div>
              <div class="job">Freelancer | Advertiser</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img
                src="https://img-getpocket.cdn.mozilla.net/592x296/filters:format(jpeg):quality(60):no_upscale():strip_exif()/https%3A%2F%2Fs3.us-east-1.amazonaws.com%2Fpocket-curatedcorpusapi-prod-images%2Fcfabf0a1-9738-4b3e-a494-6eb72d2190e2.jpeg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      let toggleBtn = document.getElementsByClassName("toggle-btn");
      toggleBtn[0].addEventListener("click", fun);
      function fun() {
        let dropdownMenu = document.getElementsByClassName("dropdown-menu");
        dropdownMenu[0].classList.toggle("open");
        let searchbar = document.getElementsByClassName("input-box");
        searchbar[0].classList.toggle("search-bar-gone");
      }
    </script>
  </body>
</html>
